@theme {
  /* ------------------------------------------------- */
  /*                        Base                       */
  /* ------------------------------------------------- */
  /* #region containers */
  --max-width-container: 1280px;
  --max-width-container-sm: 640px;
  --max-width-container-md: 768px;
  --max-width-container-lg: 896px;
  --max-width-container-xl: 1024px;
  /* #endregion */
  /* #region shadows */
  --shadow-xs: 0px 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0px 12px 16px -4px rgba(0, 0, 0, 0.08), 0px 4px 6px -2px rgba(0, 0, 0, 0.03), 0px 2px 2px -1px rgba(0, 0, 0, 0.04);
  --shadow-xl: 0px 20px 24px -4px rgba(0, 0, 0, 0.08), 0px 8px 8px -4px rgba(0, 0, 0, 0.03), 0px 3px 3px -1.5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0px 24px 48px -12px rgba(0, 0, 0, 0.18), 0px 4px 4px -2px rgba(0, 0, 0, 0.04);
  --shadow-3xl: 0px 32px 64px -12px rgba(0, 0, 0, 0.14), 0px 5px 5px -2.5px rgba(0, 0, 0, 0.04);
  --shadow-skeuomorphic: 0px 0px 0px 1px rgba(0, 0, 0, 0.18) inset, 0px -2px 0px 0px rgba(0, 0, 0, 0.05) inset;
  --shadow-xs-skeuomorphic: var(--shadow-skeuomorphic), var(--shadow-xs);
  --shadow-modern-mockup-inner-lg: 0px 0px 3.765px 1.255px rgba(10, 13, 18, 0.08) inset, 0px 0px 2.51px 1.255px rgba(10, 13, 18, 0.03) inset;
  --shadow-modern-mockup-inner-md: 0px 0px 1.692px 0.564px rgba(10, 13, 18, 0.08) inset, 0px 0px 1.128px 0.564px rgba(10, 13, 18, 0.03) inset;
  --shadow-modern-mockup-inner-sm: 0px 0px 4.48px 1.493px rgba(10, 13, 18, 0.08) inset, 0px 0px 2.987px 1.493px rgba(10, 13, 18, 0.03) inset;
  --shadow-modern-mockup-outer-lg: 0px 7.529px 10.039px -2.51px rgba(10, 13, 18, 0.08), 0px 2.51px 3.765px -1.255px rgba(10, 13, 18, 0.03), 0px 1.255px 1.255px -0.627px rgba(10, 13, 18, 0.04);
  --shadow-modern-mockup-outer-md: 0px 3.385px 4.513px -1.128px rgba(10, 13, 18, 0.08), 0px 1.128px 1.692px -0.564px rgba(10, 13, 18, 0.03), 0px 0.564px 0.564px -0.282px rgba(10, 13, 18, 0.04);
  --drop-shadow-iphone-mockup: 20px 12px 18px rgba(16, 24, 40, 0.2);
  /* #endregion */
  /* #region base-colors */
  --color-brand-50: var(--color-blue-50);
  --color-brand-100: var(--color-blue-100);
  --color-brand-200: var(--color-blue-200);
  --color-brand-300: var(--color-blue-300);
  --color-brand-400: var(--color-blue-400);
  --color-brand-500: var(--color-blue-500);
  --color-brand-600: var(--color-blue-600);
  --color-brand-700: var(--color-blue-700);
  --color-brand-800: var(--color-blue-800);
  --color-brand-900: var(--color-blue-900);
  --color-brand-950: var(--color-blue-950);

  --color-error-50: var(--color-red-50);
  --color-error-100: var(--color-red-100);
  --color-error-200: var(--color-red-200);
  --color-error-300: var(--color-red-300);
  --color-error-400: var(--color-red-400);
  --color-error-500: var(--color-red-500);
  --color-error-600: var(--color-red-600);
  --color-error-700: var(--color-red-700);
  --color-error-800: var(--color-red-800);
  --color-error-900: var(--color-red-900);
  --color-error-950: var(--color-red-950);

  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-500: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);
  --color-success-950: var(--color-green-950);

  --color-warning-50: var(--color-yellow-50);
  --color-warning-100: var(--color-yellow-100);
  --color-warning-200: var(--color-yellow-200);
  --color-warning-300: var(--color-yellow-300);
  --color-warning-400: var(--color-yellow-400);
  --color-warning-500: var(--color-yellow-500);
  --color-warning-600: var(--color-yellow-600);
  --color-warning-700: var(--color-yellow-700);
  --color-warning-800: var(--color-yellow-800);
  --color-warning-900: var(--color-yellow-900);
  --color-warning-950: var(--color-yellow-950);

  --color-info-50: var(--color-indigo-50);
  --color-info-100: var(--color-indigo-100);
  --color-info-200: var(--color-indigo-200);
  --color-info-300: var(--color-indigo-300);
  --color-info-400: var(--color-indigo-400);
  --color-info-500: var(--color-indigo-500);
  --color-info-600: var(--color-indigo-600);
  --color-info-700: var(--color-indigo-700);
  --color-info-800: var(--color-indigo-800);
  --color-info-900: var(--color-indigo-900);
  --color-info-950: var(--color-indigo-950);
  /* #endregion */

  /* ------------------------------------------------- */
  /*                      Variables                    */
  /* ------------------------------------------------- */
  --text-color-white: var(--color-white);
  /* #region text-colors */
  --text-color-placeholder: var(--color-neutral-500);
  --text-color-brand: var(--color-brand-700);
  --text-color-brand-hover: var(--color-brand-800);
  --text-color-brand-primary: var(--color-brand-900);
  --text-color-brand-primary-hover: var(--color-brand-950);
  --text-color-brand-secondary: var(--color-brand-700);
  --text-color-brand-secondary-hover: var(--color-brand-800);
  --text-color-brand-tertiary: var(--color-brand-600);
  --text-color-brand-tertiary-hover: var(--color-brand-700);
  --text-color-primary: var(--color-neutral-900);
  --text-color-primary-hover: var(--color-neutral-950);
  --text-color-secondary: var(--color-neutral-700);
  --text-color-secondary-hover: var(--color-neutral-800);
  --text-color-tertiary: var(--color-neutral-600);
  --text-color-tertiary-hover: var(--color-neutral-700);
  --text-color-quaternary: var(--color-neutral-500);
  --text-color-quaternary-hover: var(--color-neutral-600);
  --text-color-error: var(--color-error-600);
  --text-color-error-hover: var(--color-error-700);
  --text-color-success: var(--color-success-600);
  --text-color-success-hover: var(--color-success-700);
  --text-color-warning: var(--color-warning-600);
  --text-color-warning-hover: var(--color-warning-700);
  --text-color-info: var(--color-info-600);
  --text-color-info-hover: var(--color-info-700);
  /* #endregion */
  /* #region border-colors */
  --border-color-primary: var(--color-neutral-300);
  --border-color-secondary: var(--color-neutral-200);
  --border-color-tertiary: var(--color-neutral-100);
  --border-color-brand: var(--color-brand-800);
  --border-color-error: var(--color-error-800);
  --border-color-success: var(--color-success-800);
  --border-color-warning: var(--color-warning-800);
  --border-color-info: var(--color-info-800);
  /* #endregion */
  /* #region background-colors */
  --background-color-primary: var(--color-white);
  --background-color-primary-alt: var(--color-white);
  --background-color-primary-hover: var(--color-neutral-50);
  --background-color-primary-solid: var(--color-neutral-950);
  --background-color-secondary: var(--color-neutral-50);
  --background-color-secondary-alt: var(--color-neutral-50);
  --background-color-secondary-hover: var(--color-neutral-100);
  --background-color-secondary-solid: var(--color-neutral-600);
  --background-color-tertiary: var(--color-neutral-100);
  --background-color-quaternary: var(--color-neutral-200);
  --background-color-overlay: var(--color-neutral-950);
  --background-color-error-primary: var(--color-error-50);
  --background-color-error-secondary: var(--color-error-100);
  --background-color-error-solid: var(--color-error-600);
  --background-color-error-solid-hover: var(--color-error-700);
  --background-color-warning-primary: var(--color-warning-50);
  --background-color-warning-secondary: var(--color-warning-100);
  --background-color-warning-solid: var(--color-warning-600);
  --background-color-warning-solid-hover: var(--color-warning-700);
  --background-color-success-primary: var(--color-success-50);
  --background-color-success-secondary: var(--color-success-100);
  --background-color-success-solid: var(--color-success-600);
  --background-color-success-solid-hover: var(--color-success-700);
  --background-color-disabled: var(--color-neutral-100);
  --background-color-disabled-subtle: var(--color-neutral-50);
  --background-color-active: var(--color-neutral-50);
  --background-color-brand-primary: var(--color-brand-50);
  --background-color-brand-primary-alt: var(--color-brand-50);
  --background-color-brand-secondary: var(--color-brand-100);
  --background-color-brand-solid: var(--color-brand-600);
  --background-color-brand-solid-hover: var(--color-brand-700);
  --background-color-brand-section: var(--color-brand-800);
  --background-color-brand-section-subtle: var(--color-brand-700);
  --background-color-info-primary: var(--color-info-50);
  --background-color-info-secondary: var(--color-info-100);
  --background-color-info-solid: var(--color-info-600);
  --background-color-info-solid-hover: var(--color-info-700);
  /* #endregion */
}

@layer base {
  .dark {
    /* ------------------------------------------------- */
    /*                      Variables                    */
    /* ------------------------------------------------- */
    --text-color-dark: var(--color-black);
    /* #region text-colors */
    --text-color-placeholder: var(--color-neutral-400);
    --text-color-brand: var(--color-brand-600);
    --text-color-brand-hover: var(--color-brand-500);
    --text-color-brand-primary: var(--color-brand-100);
    --text-color-brand-primary-hover: var(--color-brand-50);
    --text-color-brand-secondary: var(--color-brand-300);
    --text-color-brand-secondary-hover: var(--color-brand-200);
    --text-color-brand-tertiary: var(--color-brand-400);
    --text-color-brand-tertiary-hover: var(--color-brand-300);
    --text-color-primary: var(--color-neutral-50);
    --text-color-primary-hover: var(--color-neutral-100);
    --text-color-secondary: var(--color-neutral-300);
    --text-color-secondary-hover: var(--color-neutral-200);
    --text-color-tertiary: var(--color-neutral-400);
    --text-color-tertiary-hover: var(--color-neutral-300);
    --text-color-quaternary: var(--color-neutral-500);
    --text-color-quaternary-hover: var(--color-neutral-400);
    --text-color-error: var(--color-error-400);
    --text-color-error-hover: var(--color-error-300);
    --text-color-success: var(--color-success-400);
    --text-color-success-hover: var(--color-success-300);
    --text-color-warning: var(--color-warning-400);
    --text-color-warning-hover: var(--color-warning-300);
    --text-color-info: var(--color-info-400);
    --text-color-info-hover: var(--color-info-300);
    /* #endregion */
    /* #region border-colors */
    --border-color--primary: var(--color-neutral-700);
    --border-color-secondary: var(--color-neutral-800);
    --border-color-tertiary: var(--color-neutral-900);
    --border-color-brand: var(--color-brand-400);
    --border-color-error: var(--color-error-400);
    --border-color-success: var(--color-success-400);
    --border-color-warning: var(--color-warning-400);
    --border-color-info: var(--color-info-400);
    /* #endregion */
    /* #region background-colors */
    --background-color-primary: var(--color-neutral-950);
    --background-color-primary-alt: var(--color-neutral-900);
    --background-color-primary-hover: var(--color-neutral-900);
    --background-color-primary-solid: var(--color-neutral-800);
    --background-color-secondary: var(--color-neutral-900);
    --background-color-secondary-alt: var(--color-neutral-950);
    --background-color-secondary-hover: var(--color-neutral-800);
    --background-color-secondary-solid: var(--color-neutral-600);
    --background-color-tertiary: var(--color-neutral-800);
    --background-color-quaternary: var(--color-neutral-700);
    --background-color-overlay: var(--color-neutral-800);
    --background-color-error-primary: var(--color-error-950);
    --background-color-error-secondary: var(--color-error-600);
    --background-color-error-solid: var(--color-error-600);
    --background-color-error-solid-hover: var(--color-error-500);
    --background-color-warning-primary: var(--color-warning-950);
    --background-color-warning-secondary: var(--color-warning-600);
    --background-color-warning-solid: var(--color-warning-600);
    --background-color-warning-solid-hover: var(--color-warning-500);
    --background-color-success-primary: var(--color-success-950);
    --background-color-success-secondary: var(--color-success-600);
    --background-color-success-solid: var(--color-success-600);
    --background-color-success-solid-hover: var(--color-success-500);
    --background-color-active: var(--color-neutral-800);
    --background-color-disabled: var(--color-neutral-800);
    --background-color-disabled-subtle: var(--color-neutral-900);
    --background-color-brand-primary: var(--color-brand-500);
    --background-color-brand-primary-alt: var(--background-color-secondary);
    --background-color-brand-secondary: var(--color-brand-600);
    --background-color-brand-solid: var(--color-brand-600);
    --background-color-brand-solid-hover: var(--color-brand-500);
    --background-color-brand-section: var(--background-color-secondary);
    --background-color-brand-section-subtle: var(--background-color-primary);
    /* #endregion */
  }
}
